body{
  color: yellow;
  background:#363636;
  font-family: arial;
}

.menu{
  background: #FF8C00;

}

.menu ul{
  display: flex;
  justify-content: space-around;
}

a{
  color: black;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
}

.menu li{
  list-style: none;
  
}
.site-subtitle,
.site-title{
  text-align: center;
}
.site-subtitle{
  font-style:italic;
}